{% extends '_base.html' %}
{% load static %}

{% block localstatic %}
  <link rel="stylesheet" href="{% static '/css/_registration.css' %}">
{% endblock localstatic %}

{% block content %}
<div class="registration-single-form-card">
  <div class="registration-single-form-wrapper">
    <h3>Sign Up with Email</h3>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="field-wrapper">
            <label for="{{ field.name }}">{{ field.label|lower }}</label>
            <div class="input-wrapper">
            {{ field }}
            </div>
        </div>
      {% endfor %}
      <button type="submit">Sign up</button>
    </form>
    <div>
      {% if form.errors %}
        <ul class="errorlist">
        {% for field in form %}
            {% for error in field.errors %}
                <li>
                  {% if field != '__all__' %}
                    <strong>{{ field.label }}:</strong>
                  {% endif %}
                  {{ error }}
                </li>
            {% endfor %}
        {% endfor %}
        {{ form.non_field_errors }}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
