@font-face {
  font-family: OrigamesTitle;
  src: url("/static/fonts/bourgeois.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: OrigamesTitle;
  src: url("/static/fonts/Bourgeois-Light.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: sailec;
  src: url("/static/fonts/Sailec-Font/Sailec-Bold.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: sailec;
  src: url("/static/fonts/Sailec-Font/Sailec-Medium.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: sailec;
  src: url("/static/fonts/Sailec-Font/Sailec-Regular-Italic.woff");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: sailec;
  src: url("/static/fonts/Sailec-Font/Sailec-Light.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: sailec;
  src: url("/static/fonts/Sailec-Font/Sailec-Thin.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}

html { font-family: sailec; }
body {
background-color: #e5e5f7;
background-size: 10px 10px;
background-image: repeating-linear-gradient(45deg, #444cf700 0, #444cf769 1px, #e5e5f7 0, #e5e5f7 50%);
}
