@font-face {
  font-family: OrigamesTitle;
  src: url("/static/fonts/bourgeois.woff");
}
@font-face {
  font-family: sailec;
  src: url("/static/fonts/Sailec-Font/Sailec-Bold.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: sailec;
  src: url("/static/fonts/Sailec-Font/Sailec-Medium.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: sailec;
  src: url("/static/fonts/Sailec-Font/Sailec-Regular-Italic.woff");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: sailec;
  src: url("/static/fonts/Sailec-Font/Sailec-Light.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: sailec;
  src: url("/static/fonts/Sailec-Font/Sailec-Thin.woff");
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}

html { font-family: sailec; }
/* body { background-image: url("/static/images/svg/contour.svg"); } */
body {
background-color: #f5f5ff;
background-size: 10px 10px;
background-image: repeating-linear-gradient(45deg, #eecac0 0, #eecac0 1px, #f5f5ff 0, #f5f5ff 50%);
}
