html { box-sizing: border-box; }
*, *::before, *:after { box-sizing: inherit; }
header { display: none !important; }
.ssr-main main.landing-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/static/images/svg/contour_blue.svg");
}
.ssr-main main.landing-header h1 {
  font-family: OrigamesTitle;
  font-size: 8.9em;
  line-height: 0.7em;
  margin: 1px;
  font-weight: 400;
  white-space: nowrap;
}
.ssr-main main.landing-header p { font-size: 24px; }
.ssr-main main.landing-header a {
  display: block;
  text-align: center;
  background: rgba(0 97 235 / 100%);
  border: none;
  height: 50px;
  line-height: 50px;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 4px;
  padding: 0 20px;
  color: white;
  box-shadow: -1px 2px 5px 0px rgb(0 0 0 / 29%);
}
.ssr-main main.landing-header a:hover { background: rgba(0 97 235 / 85%); }
.ssr-main main.landing-header a:active {
  background: rgba(0 97 235 / 85%);
  box-shadow: inset 0px 2px 5px 0px rgb(0 0 0 / 29%);
}

@media only screen and (max-width: 614px) {
  .ssr-main main.landing-header h1 {
    font-size: 6.4em;
    line-height: 0.6em;
  }
  .ssr-main main.landing-header p { font-size: 22px; }
}

@media only screen and (max-width: 380px) {
  .ssr-main main.landing-header h1 {
    font-size: 4.4em;
    line-height: 0.6em;
  }
  .ssr-main main.landing-header p { font-size: 18px; }
}
