{% load static %}
<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static '/css/_base.css' %}">
  {% block localstatic %}{% endblock localstatic %}
  <head>
    <title>Origames</title>
  </head>
  <body>
    <!-- hide for landing page -->
    {% if request.path != '/' %}
      {% include "_header.html" %}
    {% endif %}
    <div class="ssr-main">
      {% block content %}{% endblock content %}
    </body>
  </body>
</html>
